@import "globals/all";

.menu {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.content {
  margin-left: 280px;
}

.menu, .content {
  header {
    margin-top: 30px;
    margin-left: $content-padding;
    margin-right: $content-padding;
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    h1, h2 {
      font-size: 30px;
    }
  }
}