//-------------------------------
// Font
//-------------------------------
$font-main: 'Source Sans Pro';

//-------------------------------
// Colors
//-------------------------------
$primary-blue: #5DA3DF;

//-------------------------------
// Layout
//-------------------------------
$content-padding: 30px;