@import "compass/css3/box-sizing";

.menu {
  background-color: #eee;

  header {
    @include box-sizing("border-box");
    padding: 20px;
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.content {
  margin-left: 280px;
}